html {
  height: 100%;
  width: 100%;
  background-color: #ffffff
}
header {
  margin: 0;
  display: block;
  padding: 10px 10px;
  box-sizing: border-box;
  background-image: url("https://cdn.sanity.io/images/41hcjk5q/production/9e9d0a9e0126a1a91b8c6b4b051904b071fcb1a7-493x335.jpg?rect=0,4,493,329&w=720&h=480&fm=webp&q=70&auto=format");
  background-attachment: fixed;  
  background-size: cover;        
  background-position: center;  
}
p {
  /*text-indent: 1.5em;*/
   font: 20px Helvetica, Sans-Serif;
   color: white;
   overflow: hidden;
   padding: 0px;
   text-align: justify;
   background: rgb(0, 0, 0,0.3); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
  }
ul.a {
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  border: 2px solid black;
  justify-content: left;
}
ul.a li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline dotted black;
}
ul li a:hover {
  font-size: 125%;
  background-color: #111111;
}
ul li a:active {
  background-color: #008f02;
}
img {
  display: flex;
  obect-fit: cover;
  padding: 0px 0px;
  justify-content: right;
  border-radius: 8px;
  scroll-behavior: smooth;
}
ul li a.active {
  background-color: #04AA6D;
}
