html {
  height: 100%;
  width: 100%;
  background-color: #ffffff
}
header {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100px;
  font-style: bold;
  font: times new roman;
  background-position: center;  
  justify-content: center;
  align-items: center;
}
header {
  padding: 0px 0px;
  box-sizing: border-box;
  background-image: url("https://cdn.sanity.io/images/41hcjk5q/production/9e9d0a9e0126a1a91b8c6b4b051904b071fcb1a7-493x335.jpg?rect=0,4,493,329&w=720&h=480&fm=webp&q=70&auto=format");
  background-attachment: fixed;  
  background-size: contain; 

}
p {
  /*text-indent: 1.5em;*/
   font: 20px Helvetica, Sans-Serif;
   color: #ffffff;
   overflow: hidden;
   padding: 0px;
   text-align: justify;
   background: rgb(26, 26, 26, 0.7);
  }
.a {
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  border: 1px solid black;
  justify-content: left;
}
.a li {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline dotted black;
}
.a li a:hover {
  font-size: 125%;
  background-color: #111111;
}
.a li a:active {
  background-color: #008f02;
}
.a li a.active {
  background-color: #04AA6D;
}
.dropdown{
  float: left;
  overflow: hidden;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: block;
  border: 0px solid;
  justify-content: center;
}

